<div class="container">
    <div class="col-md-12">
        <div class="col-md-7 col-md-offset-1">
            <section>
                <h1>Hartley Bay Soundscape</h1>
                <h3>The acoustical ecological profile of a changing territory</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu dignissim nibh. Nulla ornare magna neque, vel fermentum nibh posuere at. Praesent eget lorem lorem. Quisque elementum quis neque vitae eleifend. Vivamus id metus ornare, aliquam velit vel, hendrerit leo. Vivamus gravida dapibus lectus eget vulputate. Suspendisse malesuada ultricies scelerisque. Quisque tristique nisi in mollis tristique. Aenean sodales finibus eros, quis pulvinar ipsum rutrum sed. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                </p>
                <br>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/6gypBEmz2nk" frameborder="0" allowfullscreen></iframe>
                <br>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu dignissim nibh. Nulla ornare magna neque, vel fermentum nibh posuere at. Praesent eget lorem lorem. Quisque elementum quis neque vitae eleifend. Vivamus id metus ornare, aliquam velit vel, hendrerit leo. Vivamus gravida dapibus lectus eget vulputate. Suspendisse malesuada ultricies scelerisque. Quisque tristique nisi in mollis tristique. Aenean sodales finibus eros, quis pulvinar ipsum rutrum sed. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                </p>
            </section>
            <section>
                <h2>Tuning in to Biodiversity</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu dignissim nibh. Nulla ornare magna neque, vel fermentum nibh posuere at. Praesent eget lorem lorem. Quisque elementum quis neque vitae eleifend.</p>
                <div class="row">
                    <div class="col-md-6">
                        <img src="" width="100%" height="150px">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu dignissim nibh.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="" width="100%" height="150px">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu dignissim nibh.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img src="" width="100%" height="150px">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu dignissim nibh.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="" width="100%" height="150px">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu dignissim nibh.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img src="" width="100%" height="150px">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu dignissim nibh.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="" width="100%" height="150px">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu dignissim nibh.</p>
                    </div>
                </div>
            </section>
            <section>
                <h2>Home of the Gitga'at</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu dignissim nibh. Nulla ornare magna neque, vel fermentum nibh posuere at. Praesent eget lorem lorem. Quisque elementum quis neque vitae eleifend. Vivamus id metus ornare, aliquam velit vel, hendrerit leo. Vivamus gravida dapibus lectus eget vulputate. Suspendisse malesuada ultricies scelerisque. Quisque tristique nisi in mollis tristique. Aenean sodales finibus eros, quis pulvinar ipsum rutrum sed. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
            </section>
            <section>
                <h2>Song Meters</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu dignissim nibh. Nulla ornare magna neque, vel fermentum nibh posuere at. Praesent eget lorem lorem. Quisque elementum quis neque vitae eleifend. Vivamus id metus ornare, aliquam velit vel, hendrerit leo. Vivamus gravida dapibus lectus eget vulputate. Suspendisse malesuada ultricies scelerisque. Quisque tristique nisi in mollis tristique. Aenean sodales finibus eros, quis pulvinar ipsum rutrum sed. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
            </section>
            <section>
                <h2>Acknowledgements</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu dignissim nibh. Nulla ornare magna neque, vel fermentum nibh posuere at. Praesent eget lorem lorem. Quisque elementum quis neque vitae eleifend. Vivamus id metus ornare, aliquam velit vel, hendrerit leo. Vivamus gravida dapibus lectus eget vulputate. Suspendisse malesuada ultricies scelerisque. </p>
            </section>
            <section>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Team</h4>
                        <ul>
                            <li>Lorem Ipsum - Ipsum</li>
                            <li>Lorem Ipsum - Ipsum</li>
                            <li>Lorem Ipsum - Ipsum</li>
                            <li>Lorem Ipsum - Ipsum</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h4>Funding & Support</h4>
                        <ul>
                            <li>Support&funding</li>
                            <li>Support&funding</li>
                            <li>Support&funding</li>
                            <li>Support&funding</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Powered By</h4>
                        <ul>
                            <li>tech1</li>
                            <li>tech2</li>
                            <li>tech3</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h4>Contact</h4>
                        <p>Say Hello: email@email.edu</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4">
            <section id="sidebar-special">
            	<div id="listen-button" class="text-center">
            		<button class="btn btn-lg btn-success">Listen &uarr;</button>
            	</div>
                <div id="social-media" class="ssb">
                <a href="http://twitter.com/home?status=http://example.com/" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
    			<!-- Facebook -->
    			<a href="https://www.facebook.com/sharer/sharer.php?u=http://example.com/" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
    			<!-- Google+ -->
    			<a href="https://plus.google.com/share?url=http://example.com/" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i> Google+</a>
    			<!-- StumbleUpon -->
    			<a href="http://www.stumbleupon.com/submit?url=http://example.com/" title="Share on StumbleUpon" target="_blank" data-placement="top" class="btn btn-stumbleupon"><i class="fa fa-stumbleupon"></i> Stumbleupon</a>
    			<!-- LinkedIn -->
    			<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=&amp;title=&amp;summary=http://example.com/" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i class="fa fa-linkedin"></i> LinkedIn</a>
    			</div>
            </section>
        </div>
    </div>
</div>
