<body class='section-0'>
    <div id='pane'>
        <div id='map'></div>
    </div>
    <article>
        <section id='cover' class='cover active'>
            <h1>Hartley Bay Soundscapes</h1>
            <p></p>
            <small class='scroll'>Scroll ▼</small>
        </section>
        <section id='location1'>
            <h2>Lorem Ipsum</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu dignissim nibh. Nulla ornare magna neque, vel fermentum nibh posuere at.Praesent eget lorem lorem. Quisque elementum quis neque vitae eleifend. Vivamus id metus ornare, aliquam velit vel, hendrerit leo. Vivamus gravida dapibus lectus eget vulputate. Suspendisse malesuada ultricies scelerisque.</p>
        </section>
        <section id='location2'>
            <h2>Lorem Ipsum</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu dignissim nibh. Nulla ornare magna neque, vel fermentum nibh posuere at.Praesent eget lorem lorem. Quisque elementum quis neque vitae eleifend. Vivamus id metus ornare, aliquam velit vel, hendrerit leo. Vivamus gravida dapibus lectus eget vulputate. Suspendisse malesuada ultricies scelerisque.</p>
        </section>
        <section id='location3'>
            <h2>Lorem Ipsum</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu dignissim nibh. Nulla ornare magna neque, vel fermentum nibh posuere at.Praesent eget lorem lorem. Quisque elementum quis neque vitae eleifend. Vivamus id metus ornare, aliquam velit vel, hendrerit leo. Vivamus gravida dapibus lectus eget vulputate. Suspendisse malesuada ultricies scelerisque.</p>
        </section>
        <section id='location4'>
            <h2>Lorem Ipsum</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu dignissim nibh. Nulla ornare magna neque, vel fermentum nibh posuere at.Praesent eget lorem lorem. Quisque elementum quis neque vitae eleifend. Vivamus id metus ornare, aliquam velit vel, hendrerit leo. Vivamus gravida dapibus lectus eget vulputate. Suspendisse malesuada ultricies scelerisque.</p>
        </section>
        <section id='location5'>
            <h2>Lorem Ipsum</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu dignissim nibh. Nulla ornare magna neque, vel fermentum nibh posuere at.Praesent eget lorem lorem. Quisque elementum quis neque vitae eleifend. Vivamus id metus ornare, aliquam velit vel, hendrerit leo. Vivamus gravida dapibus lectus eget vulputate. Suspendisse malesuada ultricies scelerisque.</p>
        </section>
        <section id='location6'>
            <h2>Lorem Ipsum</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu dignissim nibh. Nulla ornare magna neque, vel fermentum nibh posuere at.Praesent eget lorem lorem. Quisque elementum quis neque vitae eleifend. Vivamus id metus ornare, aliquam velit vel, hendrerit leo. Vivamus gravida dapibus lectus eget vulputate. Suspendisse malesuada ultricies scelerisque.</p>
        </section>
        <section id='location7'>
            <h2>Lorem Ipsum</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu dignissim nibh. Nulla ornare magna neque, vel fermentum nibh posuere at.Praesent eget lorem lorem. Quisque elementum quis neque vitae eleifend. Vivamus id metus ornare, aliquam velit vel, hendrerit leo. Vivamus gravida dapibus lectus eget vulputate. Suspendisse malesuada ultricies scelerisque.</p>
        </section>
        <section id='location8'>
            <h2>Lorem Ipsum</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu dignissim nibh. Nulla ornare magna neque, vel fermentum nibh posuere at.Praesent eget lorem lorem. Quisque elementum quis neque vitae eleifend. Vivamus id metus ornare, aliquam velit vel, hendrerit leo. Vivamus gravida dapibus lectus eget vulputate. Suspendisse malesuada ultricies scelerisque.</p>
            <small class='colophon'>
      {{!-- Adapted from <a href='http://www.gutenberg.org/files/2346/2346-h/2346-h.htm'>Project Gutenberg</a><br/> --}}
      Map data &copy; <a href='http://openstreetmap.org/copyright'>OpenStreetMap Contributors</a><br/>
      Map design &copy; <a href='http://mapbox.com/about/maps/'>MapBox</a>
    </small>
        </section>
    </article>

    <footer class="footer">
      <div class="container">
        <p id="learn-more" class="text-muted pull-left"><a href="/">Learn more about the project &darr;</a></p>
      </div>
    </footer>

</body>

{{!-- Scripts and links --}}
<link rel="stylesheet" type="text/css" href="static/map/css/mapstyle.css">
<script type="text/javascript" src="static/map/js/map.js"></script>


